/* Blog Homepage Media Queries */

/* Medium Screen */
@media(min-width:400px) and (max-width:959px) {
    html {
        width: 100%;
        height: 100%;
    }

    .container {
        width: 100%;
        /* border: 1px solid yellowgreen; */
        display: grid;
        grid-template-columns: 925px;
        grid-template-rows: 80px 80px 180px minmax(1234px, auto) 80px;
        grid-template-areas:
            "hd "
            "home"
            "quote"
            "main"
            "ft ";
        grid-gap: 10px;


    }

    header {
        grid-area: hd;
    }

    main {
        display: grid;
        grid-area: main;
        grid-template-columns: 350px 350px;
        justify-content: center;
        row-gap: 10px;
        column-gap: 20px;
        /* margin-top: 50px;
        margin-bottom: 50px; */
    }

    .home-title {
        grid-area: home;
        width: 640px;
        margin-left: 120px;
    }

    .quote {
        grid-area: quote;
        width: 600px;

    }

    .quote p {
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.4em;
        line-height: 1.2;
        width: 600px;
        margin-left: 100px;

    }

    .quote figcaption {
        width: 580px;
        text-align: end;
    }

    .bottom-highlighter {
        display: none;
    }

    footer {
        grid-area: ft;
    }
}


/* Large Screens */
@media(min-width:960px) {
    .container {

        width: 100%;
        /* border: 1px solid yellowgreen; */
        display: grid;
        grid-template-columns: 370px 370px 320px;
        grid-template-rows: 80px 80px 180px minmax(1234px, auto) 80px;
        grid-template-areas:
            "hd hd hd hd "
            "home home home home"
            "quote quote quote quote"
            "main main main main"
            "ft ft ft ft ";
        grid-gap: 10px;


    }

    header {
        grid-area: hd;
    }

    main {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-area: main;
        justify-content: center;
        row-gap: 5px;
        column-gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }


    .home-title {
        grid-area: home;
        width: 840px;
        margin: auto;
    }
    
    #quote{
        width: 1000px;
        margin-left: 50px;
        
    }

    .quote {
        grid-area: quote;
        width: 850px;
        

    }

    .quote p {
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.6em;
        line-height: 1.2;
        width: 820px;
        margin-left: auto;
        
    }

    .quote figcaption {
        width: 800px;
        text-align: end;
    }

    .bottom-highlighter {
        display: none;

    }

    footer {
        grid-area: ft;
    }

}

@media(min-width:1300px){
    #quote{
        margin-left: 230px;
    }
}